<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <title>WebGL - Cloth</title>
  </head>
  <body>
    <canvas id="glCanvas" class="card" width="800" height="600">
      Your browser does not support HTML5 </canvas
    ><br />
    <p>Number keys 1-6 to change scenes. R to reset camera. Note that extreme settings combined with high speed may cause the simulation to "explode".</p>
    <br>
    <div>
      <label for="tensileSlider">Material Tensile Strength (K):</label>
      <input type="range" id="tensileSlider" min="1" max="35" value="30" step="1">
    </div>
    <br>
    <div>
      <label for="windSlider">Wind Strength:</label>
      <input type="range" id="windSlider" min="0" max="0.02" value="0.000" step="0.001">
    </div>
    <br>
    <div>
      <label for="deltaTSlider">Speed:</label>
      <input type="range" id="deltaTSlider" min="0" max="0.1" value="0.1" step="0.005">
    </div>
    <br>
    <div>
      <label for="dragSlider">Drag Force:</label>
      <input type="range" id="dragSlider" min="0" max="0.2" value="0.1" step="0.01">
    </div>
    <br>
    <div>
      <label for="densitySlider">Point Density:</label>
      <input type="range" id="densitySlider" min="30" max="100" value="50" step="10">
    </div>
    <br>
    <div>
      <input type="checkbox" id="normals" checked>
      <label for="normals">Toggle Smooth Shading</label>
    </div>
    <br>
    <div>
      <input type="checkbox" id="collisions">
      <label for="collisions">Prevent Cloth Self-Intersections [Experimental and computationally expensive]: More viable with high drag and low speed</label>
    </div>

    <!-- <section id="test-view" class="test-suite">
      <button id="run-button" v-on:click="run">Run Test Suite</button>
      <button id="run-button" v-on:click="expand_results(true)">Expand All Results</button>
      <button id="run-button" v-on:click="expand_results(false)">Hide All Results</button>
      <button id="run-button" v-on:click="show_all_tests()">Show Hidden Tests</button>
      <ol class="tests">
        <li
          tabindex="0"
          v-for="test in tests"
          v-if="test.visible"
          class="card"
          v-bind:class="{
            unknown: test.lastResult.status === 'Unknown',
            passed: test.lastResult.status === 'Passed',
            failed: test.lastResult.status === 'Failed',
            manual: test.lastResult.status === 'Manual Verification Needed'
          }"
        >
          <details
            v-if="test.lastResult.status !== 'Passed' && test.lastResult.status !== 'Unknown'"
          >
            <summary>{{ test.name }}</summary>
            <img
              v-if="test.lastResult.status === 'Manual Verification Needed'"
              v-bind:src="test.lastResult.img"
              alt="Generated Image"
            />
            <img
              v-if="test.lastResult.status === 'Manual Verification Needed'"
              v-bind:src="test.lastResult.ref_img"
              alt="Reference Image"
            />
            <code v-if="test.lastResult.status === 'Failed'"
              >{{ test.lastResult.reason }}</code
            >
          </details>
          <span v-if="test.lastResult.status === 'Passed'"
            >{{ test.name }}</span
          >
          <span v-if="test.lastResult.status === 'Unknown'">
              <button v-on:click="test.lastResult = run_test(test.test)" >⟲</button>
              <button v-on:click="test.visible = false;" >hide</button>
              {{ test.name }}</span>
        </li>
      </ol>
    </section> -->

<script type="module" src="./index.js"></script>

    <br />
  </body>
</html>
